:root
{
    --primary: rgb(24, 42, 45);
    --secondary: rgb(0, 232, 252);
    --secondaryFade: rgba(0, 232, 252, 0.5);
    --tertiary: rgb(203,222,223);
    --tertiaryFade: rgba(203,222,223, 0.5);
}

.container
{
    display: grid;
    place-items: center;
}

body
{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: Ubuntu Mono;
}

.menu
{
    display: grid;
    place-items: center;
    transition-duration: 0.5s;
}

.DContainer
{
    display: grid;
    place-items: center;
    color: var(--tertiary);
}

.current
{
    border-bottom: 3px dotted var(--secondary);
}

.current:hover
{
    border-bottom: 3px dotted var(--secondaryFade);
}

.navbar-dark .navbar-nav .nav-link 
{
    color: var(--secondary);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover 
{
    color: var(--secondaryFade);
}

.navbar-toggler:hover, .navbar-toggler.navbar-toggler:focus
{
    background-color: var(--secondary);
}

.heading
{
    color: var(--secondary);
    border-bottom: 3px dotted var(--secondaryFade);
}

.trapezoid 
{
	border-bottom: 0px solid var(--secondary);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 10px;
	width: 125px;
}

footer
{
    bottom: 0;
    position: absolute;
}

.socialImg
{
    height: 20vh;
}

.ghbox
{
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 15px;
    /*height, width, blur, spread, colour. No VSC documentation RIP*/
    box-shadow: -2px 3px 1px 2px var(--secondaryFade);
}

.ghbox:hover
{
    opacity: 0.5;
    box-shadow: -2px 3px 1px 2px var(--tertiaryFade);
}

.libox
{
    background-color: rgb(0, 102, 156);
    border-radius: 15px;
    border: 0px solid;
    box-shadow: -2px 3px 1px 2px var(--secondaryFade);
}

.libox:hover
{
    opacity: 0.5;
    box-shadow: -2px 3px 1px 2px var(--tertiaryFade);
}


@keyframes derveloper
{
    from{color:var(--secondary);}
    to{color:rgba(0,0,0,0);}
}

@keyframes derveloper2
{
    from{color:rgba(0,0,0,0);}
    to{color:var(--secondary);}
}

.flicker
{
    color: var(--secondary);
    animation-name: derveloper;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.flicker2
{
    color: var(--secondary);
    animation-name: derveloper2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.pflink, .pflink:active, .pflink:visited
{
    color: var(--tertiary);
    text-align: left;
}

.pflink:hover
{
    text-decoration: underline var(--secondaryFade);
    color: var(--secondary);
}